.home {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: $color-tertiary;
  @include column(center);

  &__box {
    height: 75%;
    width: 80%;
    border-radius: 17px;
    background-color: $color-white;
    border: 1px solid $color-quaternary;
    @include column(space-between);
    @include responsiveness(phone) {
      height: 80%;
    }
  }
  &__main {
    padding: 13px 35px;
    width: 100%;

    @include responsiveness(phone) {
      width: 93%;
      padding: 13px 10px;
    }

    &.h1 {
      @include title;
    }

    &.author {
      @include text;
      font-weight: 500;
      margin-top: -15px;
    }
  }
  &__footer {
    height: 10%;
    width: 100%;
    background-color: $color-quaternary;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
  }

  div.line {
    margin-bottom: 20px;
    display: inline;
  }

  div.media div input,
  div.media div span,
  div.line div.time {
    display: none;
  }

  .transcript {
    margin-top: 30px !important;
    max-height: 39vh;
    overflow-y: auto;
    @include row(flex-start);
    align-items: flex-start;
    flex-wrap: wrap;
    width: 95%;
    @include responsiveness(phone) {
      max-height: 50vh;
    }
  }
}
